appnope==0.1.0
asgiref==3.2.7
attrs==19.3.0
autobahn==20.4.2
Automat==20.2.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.4
boto3==1.12.43
botocore==1.15.43
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
channels==2.4.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.9.1
cssutils==1.0.2
daphne==2.5.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
Django==2.2.12
django-appconf==1.0.4
django-braces==1.14.0
django-debug-toolbar==2.2
django-extensions==2.2.9
django-filter==2.2.0
django-imagekit==4.0.2
django-oauth-toolkit==1.3.2
django-rest-framework-social-oauth2==1.1.0
django-storages==1.9.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
docutils==0.15.2
entrypoints==0.3
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.9
importlib-metadata==1.6.0
incremental==17.5.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
lxml==4.5.0
MarkupSafe==1.1.1
mistune==0.8.4
multiprocess==0.70.9
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numpy==1.18.3
oauthlib==3.1.0
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pathos==0.2.5
pexpect==4.8.0
pickleshare==0.7.5
pilkit==2.0
Pillow==7.1.1
pox==0.2.7
ppft==1.6.6.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyrsistent==0.16.0
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2019.3
pyzmq==19.0.0
requests==2.23.0
requests-oauthlib==1.3.0
router==0.1
s3transfer==0.3.3
selenium==3.141.0
Send2Trash==1.5.0
sentry-sdk==0.14.3
service-identity==18.1.0
six==1.14.0
social-auth-app-django==3.1.0
social-auth-core==3.3.3
soupsieve==1.9.5
sqlparse==0.3.1
supervisor==4.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
Twisted==22.10.0
txaio==20.4.1
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
xmltodict==0.12.0
zipp==3.1.0
zope.interface==5.1.0
