<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
인증 안된, username : {{ user.username }}
<br>
{% if user.is_authenticated %}
인증 유저라면 , username : {{ user.username }}
{% endif %}
<br>
<a href="https://www.facebook.com/v6.0/dialog/oauth?
client_id=518530512380873
&redirect_uri=http://localhost:8000/members/facebook-login/"
   class="btn-block btn btn-primary">facebook login - local view</a>
<br>
<a href="https://www.facebook.com/v6.0/dialog/oauth?
client_id=518530512380873
&redirect_uri=https://moonpeter.com/members/facebook-login/"
   class="btn-block btn btn-primary">facebook login</a>
<br>
<br>
<a href="https://kauth.kakao.com/oauth/authorize?
client_id=c5fe0d7cf28e7714d8f01200f604a03b&
redirect_uri=http://localhost:8000/members/kakao-login/&
response_type=code">kakao login local </a>
<br>
<a href="https://kauth.kakao.com/oauth/authorize?
client_id=c5fe0d7cf28e7714d8f01200f604a03b&
redirect_uri=https://moonpeter.com/members/kakao-login/&
response_type=code">kakao login</a>
<br>
<br>
<a href="http://localhost:8000/members/django-logout/">로그아웃</a>
<br>
<a href="https://moonpeter.com/members/django-logout/">로그아웃</a>
</body>
</html>